.main-container {
    /* margin: 5px 0; */
    /* height: calc(100% - (50px + 40px)); */
    height: 85vh;   

    .sidebar {
        background-color: rgba(0,0,0,.03);
        height: 100%;
        color: #333;
    
        mat-list-item {
            cursor: pointer;
        }
    }
    app-users, app-home, app-new-user {
        width: 100%;
        padding: 20px;
    }
}